body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(18, 33, 63);
    color: #000000;
    /* overflow-y: hidden; */
    overflow-x: hidden;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 5px;
    background: rgb(18, 33, 63);
    border-bottom: 1px solid rgb(202, 23, 202)
}
.header button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}
.header span {
    font-size: 16px;
    font-weight: bold;
}



.dashboard {
  text-align: center;
  background-color: #0007112f;
  color: white;
  padding-top: 200px;
  margin: 5px;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  box-shadow: 0 0 20px 4px rgb(202, 23, 202);
}


.container {
  text-align: center;
  margin: 60px 0px;
  padding: 17px;
  margin-bottom: 21px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.claimbtn {
  /* background-color: rgb(187, 4, 254); */
  background-color: rgb(158, 136, 167);

  border: none;
  padding: 10px 28px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  margin: 0 5px;
  font-size: 1.1em;
  z-index: 99999;
  box-shadow: 2px 2px 13px 1px rgb(202, 23, 202);
  border: 1px solid rgb(37, 37, 37);
}

.rising-text {
  position: absolute;
  color: green;
  font-size: 20px;
  animation: riseAndFade 2s forwards;
}

@keyframes riseAndFade {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.header, .main, .footer {
  margin-bottom: 20px;
}

.next-grab-container {
  background-color: rgba(51, 10, 87, 0.8);
  padding: 17px;
  border-radius: 5px;
  color: white;
  border: 1px solid white;
}

.next-grab-title {
  font-size: 1em;
  margin-bottom: 10px;
}

.countdown {
  font-size: 2.1em;
  margin-bottom: 10px;
  display: none;
}

.ogc-value {
  font-size: 1.1em;
  color: #a394dc;
  padding-top: 9px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.footer-button {
  background-color: #ff00e6;
  border: none;
  padding: 2px 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  margin: 0 5px;
  font-size: 0.9em;
  border: 1px solid white;
}

.footer-button:hover {
  background-color: #be00a8;
  border: 2px solid white;
}


body::before {
  content: '';
  position: absolute;
  top: 25%;
  left: 50%;
  width: 206px;
  height: 206px;
  border: 5px solid white;
  background: rgba(255, 0, 230, 0.3);
  clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
  transform: translate(-50%, -50%);
  z-index: 0;
  animation: rotate 19s linear infinite;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}



 
